<mat-card class="flex-container flex-row" >
    <mat-grid-list cols="5" rowHeight="25px">
        <mat-grid-tile colspan="1">
            <mat-card-subtitle>Nummer</mat-card-subtitle>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <mat-card-subtitle>Name</mat-card-subtitle>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <mat-card-subtitle>Zutaten</mat-card-subtitle>
        </mat-grid-tile>
        <mat-grid-tile colspan=" 1">
            <mat-card-subtitle>Preis</mat-card-subtitle>
        </mat-grid-tile>
    </mat-grid-list>
    <hr>

    <mat-grid-list cols="5" rowHeight="75">
        <mat-grid-tile colspan="1">
            <mat-card-title>{{properties.number}}</mat-card-title>
        </mat-grid-tile>
        <mat-card-content>
            <mat-grid-tile colspan="1">
                {{properties.displayname}}
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-chip-list>
                    <mat-chip *ngFor="let ingri of properties.ingredients">{{ingri}}</mat-chip>
                </mat-chip-list>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                {{properties.price}} €
            </mat-grid-tile>
        </mat-card-content>
    </mat-grid-list>
</mat-card>
