mat-card {
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

mat-card-subtitle {
    font-size: 12px;
}

mat-chip-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

mat-chip {
     /* explanation below */
    margin: 5px;
    background-color: #333;
    color: #FFF;
    font-size: 12px;   

}