.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    min-height: 35px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 10;
}

.nav-item {
    flex-grow: 1;
    height: 100%;
    width: 100%;
}

.nav-item:hover {
    background-color: rgb(11, 149, 196);
}

.active {
    font-weight: bold;
}