/* You can add global styles to this file, and also import other style files */
body {
    font-family: Roboto,Helvetica Neue,sans-serif;
}

.flex-container {
    display: flex;
}

.flex-col {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}

.space-even {
    justify-content: space-evenly;
}

.space-between {
    justify-content: space-between;
}